$color__text-main: #000;
$color__heading: #000;

$color__primary: lighten(#00b8ff, 11%);
$color__primary-text: #fff;

$color__secondary: darken(#323232, 5%);
$color__secondary-text: #fff;

$color__accent: darken(#e8f1f5, 15%);